	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>{{ mytitle }}</title>

	<meta name="robots" content="index, follow" />
	<meta name="keywords" content="{{ mykeywords }}" />
	<meta name="description" content="{{ mydesc }}" />
	<meta name="author" content="Salif Mehmed <salif@programmer.net> (https://salifm.com/)" />
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ "/assets/style_v1.css" | relative_url }}" />

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />

	<meta property="og:title" content="{{ mytitle }}" />
	<meta property="og:description" content="{{ mydesc }}" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_US" />

	<meta name="twitter:title" content="{{ mytitle }}" />
	<meta name="twitter:description" content="{{ mydesc }}" />
	<meta name="twitter:creator" content="@_salifm">
