	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>{{ mytitle }}</title>

	<meta name="robots" content="index, follow" />
	<meta name="keywords" content="{{ mykeywords }}" />
	<meta name="description" content="{{ mydesc }}" />
	<meta name="author" content="Salif Mehmed <salif@programmer.net> (https://salifm.com/)" />
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ "/assets/style_v1.css" | relative_url }}" />

	<link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />

	<meta property="og:title" content="{{ mytitle }}" />
	<meta property="og:description" content="{{ mydesc }}" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_US" />

	<meta name="twitter:title" content="{{ mytitle }}" />
	<meta name="twitter:description" content="{{ mydesc }}" />

{% include analytics.html %}
