.myname {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
	font-size: 2.5rem;
	line-height: 1.25 !important;
}

.mylead {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	color: #586069;
	font-size: 1.25rem;
}

.mylinks a {
	margin-top: 20px;
	margin-left: 8px;
	margin-right: 8px;
}

.mym {
	margin-top: 30px;
}

#projects {
	overflow: hidden;
	margin-bottom: 50px;
	width:100%;
	max-width: 900px;
	margin: auto;
}

#projectsiframe {
	overflow: hidden;
	border: none;
	width: 100%;
	height: 100vh;
}

.mycon {
	width: 90%;
	max-width: 900px;
	text-align: center;
	margin: auto;
	margin-bottom:50px;
}
